/* .header{
    width:100%;
    height: 70px;
    box-shadow: 0px 5px 7px 0px #0000001C;

}

img{
    margin-top: 17px;
    margin-right: 138px;
}


.navigation{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 70px;
    margin-left: 100px;

}

.links {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    
    
}


.ham{
    margin-top: 17px;
    margin-right: 150px;
    color:#028C32;
}



.label{
    position:relative;
}

input[type="text"]{
    border:none;
    width:370px;
    height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    border: 1px solid #028C32;
    margin-top: 17px;
   

    
}

.what{
    font-family: Mulish;
    font-size: 10px;
    font-weight: 400;
    line-height: 11px;
    text-align: left;
    

}

::placeholder{
     color: #00000073;
    opacity: 45%;
}

.search{
    position:absolute;
    top: 5px;
    right:0;
    /* left:0; */
     bottom: 5px;
    width:120px;
    height:36px;
    color:white;
    border: none;
    background-color: #028C32;
    padding:10px 20px;
    border-radius: 4px;
    margin-top: 12px;
    cursor: pointer;
}

.main{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.main h1{
    font-family: Mulish;
    font-size: 22px;
    font-weight: 700;
    line-height: 34.1px;
    letter-spacing: -0.01em;
    text-align: left;
    margin-left: 100px;
    margin-top: 75px;

}


.main p{

    font-family: Mulish;
    font-size: 7px;
    font-weight: 400;
    line-height: 10.85px;
    letter-spacing: -0.01em;
    text-align: left;
    margin-left: 100px;
}
 
.flexing{
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    gap:10px;
 }  


 .blk{
    margin-right: 10px;
    margin-top: 20px;
 }


 .kunle{
    margin-top: 17px;
 }


.kunle h1{
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;


}
.rightcont{
    margin-top: 75px;
}


.kunle p{
    font-family: Mulish;
    font-size: 10px;
    font-weight: 400;
    line-height: 11px;
    text-align: left;
    color: #00000075;
    opacity:46%;
    margin-left: 2px;
    


}


.let{
    font-family: Mulish;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.44px;
    letter-spacing: -0.01em;
    text-align: left;
    margin-left: 100px;
    margin-top: 83px;

}


/* .gang{
    /* max-width: 100%; 
    /* width: 254px; 
    height: 300px;
    object-fit: contain;
} */ */