.App{
    display: flex;
    justify-content: center;
    align-items: center;
}


.log{
    font-family: Inter;
    font-size: 25px;
    font-weight: 600;
    line-height: 27.51px;
    text-align: center;
    color: #028C32;
    margin-top: 44px;


}


label{
    font-family: Mulish;
    font-size: 18px;
    font-weight: 600;
    line-height: 41.67px;
    letter-spacing: -0.01em;
    text-align: left;
    
}

.form-control input {
    display: block;
    width:477px;
    height: 50px;
    color:#028C32;
    /* margin-top: 62px; */
    border-radius:8px;
    border: 1px solid #028C32;
    opacity: 60%;
    padding: 25px;
    outline: none;

}


.form-control p{
    margin-top: 13px;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 600;
    line-height: 41.67px;
    letter-spacing: -0.01em;
    text-align: left;

}


::placeholder{
    color:#028C32;
}

button{
    display: block;
    width:478px;
    background-color: #028C32;
    border: none;
    color:white;
    padding:15px;
    margin-top: 109px;
    border-radius: 8px;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 600;
    line-height: 41.67px;
    letter-spacing: -0.01em;
    text-align: center;

}