.forgot h1{
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-weight: 600;
    line-height: 27.51px;
    margin-top: 85px;
    color:#028C32;
}

.forgot p{
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: center;
    margin-top: 7px;

} 

.forgot label{
    font-family: Mulish;
    font-size: 18px;
    font-weight: 600;
    line-height: 41.67px;
    letter-spacing: -0.01em;
    text-align: left;
    margin-left: 370px;
    /* margin-top: 104px; */


}

.forgot input{
    display: block;
    width:478px;
    height:50px;
    border-radius: 8px;
    border: 1px solid #028C3299;
    opacity: 60%;
    margin-left: 370px;
    padding: 21px;
    color:  #9AD1AD;
    outline: none;
}


form{
    margin-top: 143px; 
}


.sub-btn{
    background-color: #028C32;
    width: 478px;
    height:50px;
    border: none;
    color:white;
    margin-left: 370px;
    margin-top: 108px;
    /* width:75%; */
    border-radius: 8px;
    cursor:pointer;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 600;
    line-height: 41.67px;
    letter-spacing: -0.01em;
    text-align: center  ;

}