h1{
   font-family: mulish;
   font-size: 3rem;
   color:#028C32;
   text-align: center;
   padding-top: 20px;
}

/* .data-card{
   width:200px;
   height: 200px;
   background-color: rgb(167, 96, 237);
  
} */