
.newpassword{
    display:flex;
    justify-content: center;
    align-items: center;
}


 .reset{ 
    font-family: Inter;
    font-size: 25px;
    font-weight: 600;
    line-height: 27.51px;
    text-align: center;
    color: #028C32;
    margin-top: 58px;

 }



.you{
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: center;
    }


    .resetpassword{
        display: block;
        width:478px;
        background-color: #028C32;
        border: none;
        color:white;
        padding:15px;
        margin-top: 109px;
        border-radius: 8px;
        font-family: Mulish;
        font-size: 18px;
        font-weight: 600;
        line-height: 41.67px;
        letter-spacing: -0.01em;
        text-align: center;
    }


   

    .form-controll input {
         display:block;
         justify-content: center;
         align-items: center;
         width: 478px;
         height:50px;
         padding-left:14px;
         border-radius: 8px;
         border: 1px solid #028C3299;
         opacity:60%;
    }

    